@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary-color: #ffaf45;
$second-color: #6c0345;
$third-color: #f7c566;
$text-color: #000;
$text-font: "Poppins", sans-serif;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $second-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  font-family: $text-font;
  box-sizing: border-box;
}

.wrap {
  width: 500px;
  max-height: 600px;
  background-color: $primary-color;
  border-radius: 30px;
  border: 1px solid #ccc;
  position: relative;
  padding: 27px;
  margin: 50px auto;
  left: 0;
  transform: translateX(0);
  transition: all 2s;

  .icon--history {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
  }

  .icon--history:hover i {
    color: $second-color;
  }

  h1 {
    color: $text-color;
    margin-top: 0;
    text-align: center;
  }

  .create {
    input {
      outline: none;
      border: none;
      height: 50px;
      width: 76%;
      margin-right: 15px;
      border-radius: 15px;
      padding: 6px 12px;
      font-size: 15px;
    }

    button {
      height: 50px;
      width: 20%;
      border-radius: 15px;
      border: none;
      background-color: $second-color;
      color: #fff;
    }

    button:hover {
      opacity: 0.7;
    }
  }

  .todo-list {
    width: 100%;
    max-height: 375px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: $third-color;
    margin-top: 30px;
    border-radius: 15px;
    padding: 10px;
    overflow-y: auto;

    li.task {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      .item {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        max-width: 90%;
        word-wrap: break-word;

        .name {
          font-size: 17px;
        }

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        .checkmark {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          height: 25px;
          width: 25px;
          background-color: #fff;
          border-radius: 50%;
          border: 3px solid #000;
        }

        // .checkmark:after {
        //   content: "";
        //   position: absolute;
        //   display: none;
        //   top: 13%;
        //   left: 35%;
        //   width: 5px;
        //   height: 10px;
        //   border: solid;
        //   border-width: 0 3px 3px 0;
        //   -webkit-transform: rotate(45deg);
        //   -ms-transform: rotate(45deg);
        //   transform: rotate(45deg);
        // }

        // input:checked ~ .checkmark:after {
        //   display: block;
        // }
      }

      .remove-task-icon {
        font-size: 18px;
        cursor: pointer;
      }

      .remove-task-icon:hover i {
        color: $second-color;
      }
    }
  }

  .history {
    position: absolute;
    width: 500px;
    max-width: 500px;
    max-height: 600px;
    background-color: $second-color;
    top: 0;
    left: 100%;
    margin-left: 20px;
    border-radius: 30px;

    .history--list {
      background-color: $primary-color;
      width: 94%;
      max-height: 570px;
      margin: 15px auto;
      border-radius: 20px;
      overflow-y: auto;
      padding: 20px 40px;

      li.task {
        font-size: 18px;
        word-wrap: break-word;
        display: flex;
        justify-content: space-between;

        .task-name {
          text-decoration: line-through;
        }

        .reverse-task-icon {
          cursor: pointer;
        }

        .reverse-task-icon:hover {
          color: $second-color;
        }
      }
    }
  }
}

.wrap.wrap-slide {
  left: -42%;
  transform: translateX(50%);
}

.fade {
  animation: fade 2s;
}

@keyframes fade {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
